@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: rgb(30 41 59);
}

td, th{
  padding: 10px;
  border-bottom: 1px solid rgb(241 245 249);
  border-right: 1px solid rgb(241 245 249);
}

table th:last-child{
  border-radius: 0 12px 0 0;
}
table tr:last-child td:last-child{
  border-radius: 0 0 12px 0;
}
table tr:last-child td:first-child{
  border-radius: 0 0 0 12px;
}