@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: rgb(30 41 59);
}

td, th{
  padding: 10px;
  border-bottom: 1px solid rgb(241 245 249);
  border-right: 1px solid rgb(241 245 249);
}
table tr:last-child td{
  border-bottom: none;
}
table tr td:last-child{
  border-right: none;
}

table th:first-child{
  border-radius:12px 0 0 0;
}
table th:last-child{
  border-radius: 0 12px 0 0;
}
table tr:last-child td:last-child{
  border-radius: 0 0 12px 0;
}
table tr:last-child td:first-child{
  border-radius: 0 0 0 12px;
}

select{
  padding-bottom: calc(0.5rem + 1px);
}

th,table tr:nth-child(even){
  background-color: rgb(11 22 40);
}
table tr:nth-child(odd){
  background-color: rgb(24 35 53);
}